* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Azul-Escuro: #090040;
    --Roxo-Escuro: #471396;
    --Roxo-Brilhante: #B13BFF;
    --Amarelo-Ambar: #FFCC00;
    --Branco: #FFFF;
    --preto:#000000;
}

body {
    background-color: var(--Azul-Escuro);
    color: var(--Branco);
    border: 10px solid var(--Roxo-Brilhante);
}


.container-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container-header nav {
    padding-top: 40px;
    padding-right: 50px;
}

.container-header a {
    text-decoration: none;
    color: var(--Branco);
    font-size: 36px;
    margin: 51px;

}

.container-header a:hover {
    border-bottom: solid var(--Roxo-Brilhante) 2px;
}

.container-box {
    display: flex;
}

.box {
    margin: 100px;
    font-size: 38px;

}

.box h3 {
    margin-top: 20px;
    font-size: 24px;
    max-width: 700px;
}

.box-img {
    margin-top: 150px;
}

.box-img img {
    height: 800px;
    width: 800px;
    max-width: 100%;
    height: auto;
    display: block;
}

.title-vercoes {
    padding-top: 50px;
    text-align: center;
    font-size: 48px;
}

.grid-vercoes {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    font-variant: var(--Branco);
}

.vercoes {
    padding: 30px;
    border: var(--Roxo-Escuro) solid 12px;
}

.vercoes img {
    height: 150px;
    width: 150px;
     max-width: 100%;
    display: block;
    /* object-fit: cover; */
}