@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --Azul-Escuro: #090040;
    --Roxo-Escuro: #471396;
    --Roxo-Brilhante: #B13BFF;
    --Amarelo-Ambar: #FFCC00;
    --Branco: #FFFF;
    --preto: #000000;
}

body {
    background-color: var(--Azul-Escuro);
    color: var(--Branco);

}


.container-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.container-header nav {
    padding-top: 40px;
    padding-right: 50px;
}

.container-header a {
    text-decoration: none;
    color: var(--Branco);
    font-size: 36px;
    margin: 51px;

}

.container-header a:hover {
    border-bottom: solid var(--Roxo-Brilhante) 2px;
}

.background-img {
    margin-top: 50px;
    height: 800px;
    background-image: url(backgroundconsole.jpeg);


}

.background-img-text {
    text-align: center;
    padding-top: 340px;
    font-size: 80px;
    color: var(--Amarelo-Ambar);
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 800;

}

.box {
    margin: 100px;
    font-size: 38px;

}

.box h3 {
    margin-top: 20px;
    font-size: 24px;
    max-width: 700px;
}

.box-img {
    margin-top: 150px;
}

.box-img img {
    height: 800px;
    width: 800px;
    max-width: 100%;
    height: auto;
    display: block;
}

.title-historia {
    padding-top: 30px;
    text-align: center;
    font-size: 48px;
    font-family: 'Pixelify Sans', sans-serif;


}

section.História {
    font-family: 'Pixelify Sans', sans-serif;
}

.container-historia {
    display: flex;
    margin-top: 80px;
    margin-left: 50px;

}

.historia-left,
.historia-right {
    flex: 1;
}

.historia-left {
    font-size: 27px;
}

.historia-right img {
    margin-left: 2%
}

.historia-right p {
    color: var(--Branco);
    font-size: 30px;
   padding-left: 30%;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    gap: 5px;
    justify-items: stretch;

}