* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Cores Padrão*/
    --preto: #000000;
    --branco: #FFFFFF;
    --azul-vibral: #0070D1;
    --vermelho: #DD2723;
    --verde: #006D37;
    --rosa: #C21360;

    /* Galaxy */
    --Midnight-Black: #121212;
    --Cosmic-Red: #BA1212;
    --Starlight-Blue: #1264BA;
    --Galactic-Purple: #4612BA;
    --Nova-Pink: #E31B6D;

    /* Deep Earth */
    --Volcanic-Red: #C21A1A;
    --Cobalt-Blue: #1A6AC2;
    --Sterling-Silver: #8F8F8F;

    /* Fonts */

}

header {
    background-color: var(--preto);
    height: 45px;
    width: 100%;
}
.header-feito-por{
    
}